body {
  background: rgb(252, 231, 250);
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid rgb(40, 46, 78);
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: rgb(41, 48, 116);
}

a:visited {
	color: rgb(76, 107, 165);
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.profileButtons {
	background-color:rgb(255, 255, 168);
	padding: 25px 25px;
}